* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  border: none;
  background: transparent;
  outline: none;
  padding: 5px 10px;
}

.folder {
  background: rgba(0, 0, 0, 0.1);
}

.file {
  padding-left: 20px;
}

.shrunk {
  display: none;
}
