* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  border: none;
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
  margin-block: 2px;
}

.folder {
  background: rgba(0, 0, 0, 0.1);
}

.indent {
  padding-left: 20px;
}

.shrunk {
  font-weight: 600;
}
